<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">B2B Marketplace - Shop</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/products">Products</a>
      <a class="nav-link" href="/rfqs">My RFQs</a>
      <a class="nav-link" href="/contracts">Contracts</a>
      <a class="nav-link" href="/orders">Orders</a>
      <a class="nav-link" href="/admin/">Supplier Panel</a>
    </div>
  </div>
</nav>
