<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/admin/">Manage B2B Marketplace</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/admin/">Admin Dashboard</a>
      <a class="nav-link" href="/admin/products">Products</a>
      <a class="nav-link" href="/admin/orders">Orders</a>
      <a class="nav-link" href="/">Shop Home</a>
    </div>
  </div>
</nav>
